
.filtro {
    position: absolute;
    left: 20px;
    top: 100px;
    width: 400px;
    padding-top: 10px;
}

.sairBusca {
    position: absolute;
    width: 60px;
    top: 0px;
    left: 10px;
}

.search-filter p {
    text-align: end;
}

.search-filter input {
    max-width: 80%;
    text-align: center;
}

select {
    width: 80%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

#equipamentoTable {
    width: 100%;
}

.equipamentos {
    width: 900px;
    height: 530px;
    position: absolute;
    padding-top: 10px;
    top: 50px;
    left: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tabela-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 450px;
    position: relative;
    top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    font-weight: 500;
}

tr:hover {
    background-color: #f9f9f9;
}

.delete-btn {
    background: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.delete-btn:hover {
    background: #cc0000;
}