.container {
    position: absolute;
    top: 110px;
    padding-top: 10px;
    max-width: 1200px;
}

.equipamentos {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 560px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tabela-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 450px;
    position: relative;
    top: 20px;
}

#estoqueTable {
    width: 100%;
    border-collapse: collapse;
}

#estoqueTable th, #estoqueTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.sairEstoque {
    position: absolute;
    width: 60px;
    left: 30px;
}

h2 {
    color: #e4e4e4;
}
a{
    color: #070a0f;
}


#voltarEstoque {
    position: absolute; 
    top: 60px; 
    left: 90px;
    width: 180px;
    height: 25px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

#voltarEstoque:hover {
    color: white;
    background: linear-gradient(45deg, #6a11cb,#2575fc);
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    font-weight: 500;
}

tr:hover {
    background-color: #f9f9f9;
}

.delete-btn {
    background: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.delete-btn:hover {
    background: #cc0000;
}