button {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

button:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.usuarioAtual {
    position: absolute;
    top: 60px;
    left: 50px;
    color: white;
}

#cadastrarF, #entrarFuncionario, #estoqueF {
    width: 150px;
}

#estoqueF, #UsoEquipo, #buscarEquip {
    padding: 7px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

#UsoEquipo {
    width: 100%;
}

#estoqueF:hover {
    background: linear-gradient(135deg, #ff6262, #ff2222);
    transform: translateY(-2px);
}

#voltarLogin, #sair {
    padding: 7px;
    margin: 0px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    background: linear-gradient(135deg, #ff2222, #ff6262);
}

#voltarLogin:hover, #sair:hover {
    background: linear-gradient(135deg, #ff6262, #ff2222);
    transform: translateY(-2px);
}

#pagina {
    display: flex;
    flex-direction: row;
}

#campo {
    width: 300px;
    height: 110px;
    margin-bottom: 10px;
    border: 2px solid #dddddd;
    border-radius: 15px;
    background-color: white;
}